<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Our Works</title>
    <link  rel="stylesheet" href="/spro.css" type="text/css" />
    <link  rel="stylesheet" href="/hf.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--ANIMATE.css-->
  </head>

<body style="background-color: #ffff; width: 100%;">
  <section id="header">
    <a href="/"><img src="/img/home/logo-brown-nobg.png" height=80 width=115 ></a>
   <div>
     <ul id="navbar">
       <li><a href="/">Home</a></li>
       <li><a class="active" href="/projects">Their Projects</a></li>
       <li><a href="/getinvolved">Get Involved</a></li>
       <li><a href="/ourworks">Our Works</a></li>
       <li><a href="/aboutus">About Us</a></li>
       <li><div class="icon-cart">
           <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
               <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
           </svg>
           <span><%= cart.length %></span>
       </div></li>
    </ul>
   </div>
 </section>
 
  <!--ADD TO CART--> 
  <%- include("./partials/cart.ejs") %>
  
<section id="prodetails" class="section-p1">
  <div class="single-pro-image">
    <img src="/img/project/barce/brace1.jpg" width="100%" id="MainImg">
    <div class="small-img-group">
      <div class="small-img-col">
        <img src="/img/project/barce/brace1.jpg" width="100%" height="80%" class="small-img">
      </div>
      <div class="small-img-col">
        <img src="/img/project/barce/Brace11.jpg" width="100%" height="80%" class="small-img">
      </div>
      <div class="small-img-col">
        <img src="/img/project/barce/brace3.jpg" width="100%" height="80%" class="small-img">
      </div>
      <div class="small-img-col">
        <img src="/img/project/barce/brace4.jpg" width="100%" height="80%" class="small-img">
      </div>
    </div>
  </div>
    
      <div class="single-pro-details">
        <h6>Handcrafted</h6>
        <h2><%= result.Name %></h4>
        <h4>Rs.<%= result.Price %></h2>
        <h6>In stock:<%= result.NumberOf %></h6>
        <form method="post" action="/add_cartp">
          <input type="number" value="1" min="0" max=<%= result.NumberOf %> name="item_count">
          <input type="hidden" name="Id" value=<%= result.Id %>>
          <input type="hidden" name="Name" value=<%= result.Name %>>
          <input type="hidden" name="Price" value="<%= result.Price %>">
          <input type="hidden" name="Link" value=<%= result.Link %>>
          <input type="submit" style="width: 200px;" class="addCart" value="Add to Cart">
      </form>
        <h4>Product Details</h4>
        <span><%= result.Description %></span>
      </div>
    </section>
      <section class="person" style="display: flex;">
        <div>
          <img src="/img/project/barce/person7.jpg"></div>
          <div><p class="person-details">
            Parvati, an elderly artisan whose passion for crafting Indian beaded bracelets knows no bounds. Despite the challenges posed by age, Parvati's dedication to her artistry remains unwavering. With each delicate bead she strings and every intricate pattern she weaves, Parvati not only creates exquisite jewelry but also fosters a sense of unity and tradition within our community. Through her skilled hands, she preserves the essence of Indian craftsmanship, ensuring that the vibrant tapestry of our cultural heritage continues to thrive for generations to come.
    </p></div>
      </section>
      <script>
        var MainImg = document.getElementById("MainImg");
        var smallimg = document.getElementsByClassName("small-img");
    
        smallimg[0].onclick = function () {
          MainImg.src = smallimg[0].src;
        }
        smallimg[1].onclick = function () {
          MainImg.src = smallimg[1].src;
        }
        smallimg[2].onclick = function () {
          MainImg.src = smallimg[2].src;
        }
        smallimg[3].onclick = function () {
          MainImg.src = smallimg[3].src;
        }
      </script>
  <!--Newsletter-->
  <%- include("./partials/newsletter.ejs") %>

      <!--Footter-->
      <%- include("./partials/footer.ejs") %>





    <script type="module" src="script.js"></script>
     <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  </body>

  </html>